{% load bootstrap5 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>KIM GALLRY - {{title}}</title>
  {% else %}
    <title> KIM GALLRY</title>
  {% endif %}
  <!-- favico -->
  <link rel="shortcut icon" href="https://avatars.githubusercontent.com/u/60639510?v=4">
  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  {% endblock %}
</head>
<body>
    <!-- navbar -->
    {% include "navbar.html" %}
    <!-- content -->
    {% block content %}
    <h1 class='text-center'>{{date|date:"l d-F Y"}}</h1>
    {%endblock%}

    <!-- footer -->
    {% include 'footer.html' %}

    <!-- scripts -->
    {% block scripts %}
    {% bootstrap_javascript %}
    {% endblock %}
   
</body>
</html>